<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Career Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
        integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">

        <h2>Career 이력 등록 페이지</h2><br>

        <label for="fname" class="form-label">userId:</label><br>
        <input type="text" class="form-control" id="userId" name="userId" placeholder=""><br><br>

        <label for="fname" class="form-label">projectId:</label><br>
        <input type="text" class="form-control" id="projectId" name="projectId" placeholder=""><br><br>

        <label for="lname" class="form-label">projectName:</label><br>
        <input type="text" class="form-control" id="projectName" name="projectName" placeholder=""><br><br>

        <label for="lname" class="form-label">period:</label><br>
        <input type="text" class="form-control" id="period" name="period" placeholder=""><br><br>

        <label for="lname" class="form-label">company:</label><br>
        <input type="text" class="form-control" id="company" name="company" placeholder=""><br><br>

        <label for="lname" class="form-label">position:</label><br>
        <input type="text" class="form-control" id="position" name="position" placeholder=""><br><br>

        <label for="lname" class="form-label">role:</label><br>
        <input type="text" class="form-control" id="role" name="role" placeholder=""><br><br>

        <button class="btn btn-primary" id="create_btn">이력 등록</button>
        <button class="btn btn-secondary" onclick="history.back()">뒤로</button>

        <p id="result"></p>
    </div>

</body>

<script>
    $("#create_btn").click(() => {
        const userId = $("#userId").val();
        const projectId = $("#projectId").val();
        const projectName = $("#projectName").val();
        const period = $("#period").val();
        const company = $("#company").val();
        const position = $("#position").val();
        const role = $("#role").val();

        $.post("/career", { userId, projectId, projectName, period, company, position, role }, (data, status) => {
            alert(data.result);
            if (data.result == "success") {
                alert("success")
                $("#result").empty();
                $("#result").append('<i class="fa-regular fa-circle-check fa-5x" ></i><br>')
                const res = JSON.stringify(data);
                console.log(res);
                $("#result").append(res);
            } else {
                alert("fail")
                $("#result").empty();
                const res = JSON.stringify(data);
                $("#result").append('<i class="fa-regular fa-circle-xmark fa-5x"></i><br>')
                $("#result").append(res);
            }
        });

    });
</script>

</html>