<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Career Service</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
</head>


<body>

  <div class="container">
    <h1>Welcome to<br>Career Service<br>Prototype</h1>
    <p>test-network에 수행중인 Career 체인코드 연동을 위한 애플리케이션</p>

    <a href='./adminwallet.html' class="btn btn-success">관리자 인증서 생성</a><br><br>
    <a href='./userwallet.html' class="btn btn-outline-success">사용자 인증서 생성</a><br><br>

    <a href='./create.html' class="btn btn-outline-primary">이력 등록</a><br><br>
    <a href='./query.html' class="btn btn-outline-secondary">이력 조회</a><br><br>
    <a href='./transfer.html' class="btn btn-outline-warning">검토</a><br><br>
    <a href='./history.html' class="btn btn-outline-info">모든 이력 조회</a><br><br>
  </div>

</body>

</html>