<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FABCAR Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>

    <div class="container">

        <h2>FABCAR 차 소유권 이전 페이지</h2><br>

            <label for="fname" class="form-label">Certificate:</label><br>
            <input type="text" class="form-control" id="cert" name="cert" placeholder=""><br><br>

            <label for="lname" class="form-label">Car ID:</label><br>
            <input type="text" class="form-control" id="carid" name="carid" placeholder=""><br><br>

            <label for="lname" class="form-label">New Owner:</label><br>
            <input type="text" class="form-control" id="newowner" name="newowner" placeholder=""><br><br>

            <button id="transfer_btn" class="btn btn-outline-warning">소유권 이전</button>
    
            <p id="transfer_result"></p>
    </div>
</body>

<script>
    $("#transfer_btn").click(() => {
        const cert = $("#cert").val();
        const carid = $("#carid").val();
        const newowner = $("#newowner").val();

        $.post("/car/tx", {cert, carid, newowner}, (data, status) => {
            if(data.result == "success"){
                $("#transfer_result").empty();
                $("#transfer_result").append('<i class="fa-solid fa-toggle-on fa-5x"></i>');
                const res = JSON.stringify(data);
                $("#transfer_result").append(res);
            }else{
                $("#transfer_result").empty();
                $("#transfer_result").append('<i class="fa-solid fa-toggle-off fa-5x"></i>');
                const res = JSON.stringify(data);
                $("#transfer_result").append(res);
            }
        })
    });
</script>

</html>