<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>FABCAR Service</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.2/assets/css/docs.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <div class="container">

        <h2>Career 유저 인증서 생성 페이지</h2><br>

        <label class="form-label">ID:</label><br>
        <input type="text" class="form-control" id="id" name="id" placeholder="enter id"><br><br>

        <label class="form-label">Role:</label><br>
        <input type="text" class="form-control" id="role" name="role" placeholder="enter role"><br><br>

        <label class="form-label">Department:</label><br>
        <input type="text" class="form-control" id="department" name="department" placeholder="enter department"><br><br>

        <button class="btn btn-primary" id="create_btn">유저 인증서 생성</button>
        <button class="btn btn-secondary" onclick="history.back()">뒤로</button>
        <p id="create_result"></p>

    </div>

</body>

<script>
    $("#create_btn").click(() => {
        const userid = $("#id").val();
        const userrole = $("#role").val();
        const userdepart = $("#department").val();

        $.post("/user", {uid:userid, role:userrole, depart:userdepart}, (data, status) => {
            if(data.result == "success"){
                $("#create_result").empty();
                $("#create_result").append('<i class="fa-solid fa-toggle-on fa-5x"></i>');
                const res = JSON.stringify(data);
                $("#create_result").append(res);
            }else{
                $("#create_result").empty();
                $("#create_result").append('<i class="fa-solid fa-toggle-off fa-5x"></i>');
                const res = JSON.stringify(data);
                $("#create_result").append(res);
            }
        });
    });
</script>

</html>